/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.homepage {
  main {
    width: 100%;
    height: 100%;
    background-color: $white-cl;
    position: relative;
    z-index: 1;
  }
  // ===== firstview =====
  .fv {
    width: 100%;
    height: 100vh;

    &_container {
      width: 100%;
      height: var(--app-height);
      position: fixed;
      top: 0;
      left: 0;
      z-index: -2;
      pointer-events: none;
    }

    &_swiper {
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @include maxW(1023px) {
      height: var(--app-height);
    }
  }
  //   ===== heading =====
  .hd {
    position: absolute;
    width: 100%;
    height: var(--app-height);
    top: 0;
    z-index: 1;

    &_container {
      position: absolute;
      bottom: 60px;
      left: 40px;
    }

    @include maxW(1023px) {
      &_container {
        bottom: 35px;
        left: 0;
        width: 100%;
        padding: 0 32px;

        h1 svg {
          width: 100%;
          max-width: 350px;
          height: auto;
          margin: 0 auto;
        }
      }
    }

    &_scrolldown {
      --line-height: 90px;
      --line-height-abs: -90px;

      width: 2px;
      height: var(--line-height);
      overflow: hidden;
      margin: 60px auto 0;

      span {
        width: 100%;
        height: 100%;
        display: block;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 0) 50%
        );
        background-position: 0 var(--line-height-abs);
        background-size: 100% 200%;
        animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards
          infinite;
      }

      @keyframes scrolldown {
        0% {
          background-position: 0 var(--line-height-abs);
        }
        75% {
          background-position: 0 0;
        }
        100% {
          background-position: 0 var(--line-height);
        }
      }

      @include maxW(1023px) {
        --line-height: 70px;
        --line-height-abs: -70px;
        margin-top: 27px;
      }
    }
  }

  // ===== intro =====
  .intro {
    &_container {
      margin-top: 61px;

      @include maxW(1023px) {
        margin-top: 53px;
      }
    }

    &_desc {
      text-align: center;
      padding: 0 25px;

      h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.75;
      }

      p {
        margin-top: 39px;
        font-size: 1.5rem;
        line-height: 1.9;
      }

      @include maxW(1023px) {
        padding: 0 19px;

        h2 {
          font-size: 1.9rem;
          line-height: 1.61;
        }

        p {
          margin-top: 22px;
          font-size: 1.3rem;
          line-height: 1.69;
        }
      }
    }

    &_lead {
      margin-top: 109px;
      border-top: 1px solid $line-cl;
      border-bottom: 1px solid $line-cl;
      padding: 30px 0;

      @include maxW(1023px) {
        margin-top: 101px;
        padding: 50px 32px;
      }
    }

    &_group {
      width: 63.75%;
      margin: 0 auto;

      &_inner {
        display: grid;
        grid-template-columns: 43.57% 1fr;
        align-items: center;
        gap: 70px;
      }

      @include maxW(1023px) {
        width: 100%;

        &_inner {
          display: block;
        }
      }
    }

    &_left {
      display: block;
      z-index: 1;
      position: relative;
      height: 100%;
      padding-bottom: calc(550 / 400 * 100%);
      background-color: $img-cl;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @include maxW(1023px) {
        padding-bottom: calc(344 / 250 * 100%);
      }
    }

    &_right {
      p {
        font-size: 1.5rem;
        line-height: 1.9;
      }
    }

    &_link {
      display: inline-block;
      margin-top: 33px;
      padding: 13px 26px;
      font-size: 1.5rem;
      font-weight: 700;
      border: 1px solid $line-cl;
      border-radius: 23px;
      transition: 0.2s ease-in;

      &:hover {
        background-color: $line-cl;
        color: $white-cl;
      }
    }
  }
}
